<div>
    <h1>Upload your images</h1>
    <small><a ng-click="checkoutWardrobe()">or checkout your wardrobe</a></small>
    <form ng-submit="uploadImages(images)">
        <label for="up">Upload images</label>
        <input id="up" type="file" to-64 on-convert-to-64="processImg64">
    </form>
    <div>
        <ul>
            <li ng-repeat="img in uploadedImages">
                <img src={{img.uri}}>
                <div>
                    <label for="is-lower">Lower</label>
                    <input id="is-lower" type="checkbox" ng-model="img.isLower" ng-click="toggleLower($index)">
                    <button ng-click="moveToWardrobe($index)">Move to wardrobe</button>
                </div>
            </li>
        </ul>
    </div>
</div>