<div>
    <h1 class="text-center">Upload</h1>
    <p class="text-center text-gray">Start by adding the pictures of your awesome clothes</p>
    <form>
        <label for="up">
            <i class="icon icon-upload bg-primary icon-4x c-hand centered"></i>
            <input id="up" type="file" to-64 on-convert-to-64="processImg64" style="display:none">
        </label>

    </form>
    <div class="images-container" ng-if="uploadedImages.length">
        <ul class="images">
            <li class="image" ng-repeat="img in uploadedImages">
                <div class="card">
                    <div class="card-image">
                        <img src={{img.uri}} class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">{{img.name}}</div>
                        <div class="card-subtitle text-gray">
                            {{img.isLower ? 'Lowerwear' : 'Upperwear'}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" ng-click="moveToWardrobe(img.uri)">Move To Wardrobe</button>
                        <button class="btn btn-secondary"
                                ng-click="toggleLower(img.uri)"
                        >
                            {{img.isLower ? 'Make Upperwear' : 'Make Lowerwear'}}
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>